:root {
  --blue: rgb(2, 0, 100);
  --bg: #030303;
  --shadow: 0 4px 4px rgba(184, 156, 1, 0.8);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
  /* min-height: 2000px; */
}

.hero {
  min-height: 100vh;
  background-color: var(--bg);
  background-image: url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  font-family: "Tangerine", cursive;
  font-size: 9rem;
  text-shadow: var(--shadow);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #816a01, 0 0 30px #816a01,
      0 0 40px #816a01, 0 0 50px #816a01, 0 0 60px #816a01, 0 0 70px #816a01;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e7bd03, 0 0 40px #e7bd03,
      0 0 50px #e7bd03, 0 0 60px #e7bd03, 0 0 70px #e7bd03, 0 0 80px #e7bd03;
  }
}

.hero h4 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--blue);
  background-color: white;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
}

.hero a:hover {
  color: white;
  background-color: var(--blue);
  box-shadow: var(--shadow);
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 5px;
  }
}
/* hp */
@media (max-width: 567px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }
}
