:root {
  --blue: rgb(236, 2, 186);
  --bg: #030303;
  --shadow: 0 4px 4px rgba(7, 7, 7, 0.8);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: var(--blue);
  min-height: 2000px;
}

.home {
  min-height: 100vh;
  background-color: var(--bg);
  background-image: url(../img/bg6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home h1 {
  font-family: "Work Sans";
  font-size: 2.7rem;
  color: white;
  text-shadow: var(--shadow);
}

.home h4 {
  font-family: "Tangerine";
  font-size: 8rem;
  margin-bottom: 1rem;
  text-shadow: var(--shadow);
}

.home p {
  margin: 0 20%;
  font-family: "Edu TAS Beginner";
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-shadow: var(--shadow);
}

.home h5 {
  font-size: 2.3rem;
  font-family: "Work Sans";
  color: white;
  text-shadow: var(--shadow);
}

.home a {
  position: absolute;
  top: 92%;
  left: 45%;
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: var(--blue);
  transition: none;
}

.home a:hover {
  color: white;
  background-color: #b108c0;
  box-shadow: var(--shadow);
}

.mynavbar {
  background-color: rgba(236, 232, 232, 0) !important;
  backdrop-filter: blur(1.5px);
  margin: 0;
  padding: 0;
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Tangerine", cursive;
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar .nav-link {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.info {
  color: black;
  background-color: rgb(236, 232, 232);
  background-image: url(../img/bg8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -4rem;
  padding-top: 4rem;
}

.info h2,
.story h2 {
  color: var(--blue);
  font-family: "Tangerine";
  text-shadow: var(--shadow);
  font-size: 4rem;
  margin-top: 0.1rem;
}

.info h3 {
  color: rgb(41, 1, 41);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
  margin-top: -0.5rem;
  text-shadow: 0 2px 2px rgba(119, 2, 109, 0.8);
}

.info p {
  font-family: "Edu TAS Beginner";
  font-size: 1.5rem;
  color: rgb(5, 1, 61);
  font-weight: 200;
  line-height: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.info .couple {
  margin-top: 28px;
}

.info .couple h3 {
  font-family: "tangerine";
  font-size: 3rem;
  color: var(--blue);
  margin-top: 3px;
}

.info .couple img {
  width: 100%;
}

.info .akad h5 {
  text-align: center;
  font-family: "Tangerine";
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue);
  text-shadow: var(--shadow);
  margin-top: -1rem;
}

.info .akad p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 0.7rem;
  color: var(--blue);
  margin-top: 1rem;
}

.info a {
  position: absolute;
  top: 193%;
  left: 45%;
  color: white;
  background-color: var(--blue);
  font-size: 1rem;
  margin-top: 0.1rem;
  padding: 0.1rem 0.5rem;
  transition: none;
}

.info a:hover {
  color: white;
  background-color: #b108c0;
  box-shadow: var(--shadow);
}

.story,
.galery {
  color: white;
  background-color: rgb(236, 232, 232);
  min-height: 100vh;
  margin-top: 0rem;
  padding-top: 5.5rem;
}

.story h2,
.galery h2 {
  color: var(--blue);
  font-family: "Tangerine";
  text-shadow: var(--shadow);
  margin-bottom: 0.1rem;
}

.story span,
.galery span {
  color: var(--blue);
  font-size: 1.1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.story p,
.galery p {
  color: var(--blue);
  font-size: 1rem;
  padding-top: -1rem;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: var(--blue);
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 120px;
  height: 120px;
  background-color: var(--blue);
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  height: 7rem;
  float: left;
  border: 1px solid var(--blue);
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  background-color: rgb(236, 232, 232);
}

.timeline h3 {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  top: 0.5rem;
  font-weight: bold;
  color: rgb(196, 2, 154);
  text-shadow: 0.5px 0.5px 0.5px rgba(7, 7, 7, 0.8);
}

.timeline span {
  position: absolute;
  top: 1.8rem;
  left: 1rem;
  font-size: 1rem;
  color: rgb(196, 2, 154);
}

.timeline p {
  position: absolute;
  left: 1rem;
  top: 3rem;
  bottom: 0.5rem;
  font-size: 0.8rem;
  color: rgb(196, 2, 154);
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.story a {
  position: absolute;
  display: inline-block;
  top: 325%;
  left: 45%;
  color: white;
  background-color: var(--blue);
  font-size: 1rem;
  margin-top: 0.1rem;
  padding: 0.1rem 0.5rem;
  transition: none;
}

.story a:hover {
  color: white;
  background-color: #b108c0;
  box-shadow: var(--shadow);
}

/* media query */
@media (max-width: 320px) {
  html {
    font-size: 54%;
  }

  .home h1 {
    margin-top: -2.5rem;
  }

  .home h4 {
    padding: 0.3rem 10% 0.3rem;
  }

  .home h4 span {
    color: var(--blue);
    position: absolute;
    top: 23%;
    left: 65%;
    text-align: center;
    font-size: 8rem;
  }

  .simply-countdown > .simply-section {
    width: 25px;
    height: 25px;
    padding: 20px;
    margin: 4px;
  }

  .home h5 {
    font-size: 1.5rem;
  }

  .home a {
    left: 38.5%;
    padding: 0.2rem 0.5rem;
  }
  .mynavbar .offcanvas {
    height: 100vh;
    width: 18rem;
  }
  .mynavbar .navbar-brand {
    font-family: "Tangerine", cursive;
    text-align: center;
    justify-content: center;
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 700;
  }

  .mynavbar .offcanvas-body {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
  }

  .info,
  .story {
    padding: 5rem 8% 0.3rem;
  }

  .info .couple {
    margin-top: 10px;
  }

  .info .akad h5 {
    margin-top: 0.6rem;
  }

  .info .akad p {
    line-height: 0.7rem;
    margin-top: 0.5rem;
  }
  .info a {
    top: 196%;
    left: 40%;
  }
}
