:root {
  --blue: rgb(2, 0, 100);
  --bg: #030303;
  --shadow: 0 4px 4px rgba(184, 156, 1, 0.8);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
  /* min-height: 2000px; */
}

.hero {
  min-height: 100vh;
  background-color: var(--bg);
  background-image: url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  font-family: "Tangerine", cursive;
  font-size: 9rem;
  text-shadow: var(--shadow);
}

.hero h4 {
  font-size: 1.2rem;
}

.hero p {
  font-size: 1.2rem;
}

.hero a {
  color: var(--blue);
  background-color: white;
}
